:root {
  --bgcolor: red;
}

@media(min-width: 512px) {
  :root {
    --bgcolor: green;
  }
}
@media(min-width: 1024px) {
  :root {
    --bgcolor: blue;
  }
}


body {
  background: var(--bgcolor);
}
