:root {
  --scroll-item-padding: 16px;
  --scroll-item-width: 400px;
}
html {
  font-family: system-ui;
  font-size: 100%;
}
body {
  margin: 0;
}
h1, h2 {
  margin-inline: var(--scroll-item-padding);
}
.scrollwrap {
  display: flex;
  gap: var(--scroll-item-padding);
  max-width: calc(100% - (2 * var(--scroll-item-padding)));
  overflow-x: scroll;
  padding-inline: var(--scroll-item-padding);
  scroll-padding-inline: var(--scroll-item-padding);
  scroll-snap-type: x mandatory;
  width: calc(var(--scroll-item-width) - (2 * var(--scroll-item-padding)));
}
.scrollitem {
  border-radius: 32px;
  height: auto;
  scroll-snap-align: center;
  width: 100%;
}
.scrollwrap--hints .scrollitem {
  width: 80%;
}
.scrollcontrol {
  --control-scale: 1;
  appearance: none;
  align-self: center;
  background: #fffc;
  border: 1px solid #000;
  border-radius: 2em;
  cursor: pointer;
  font-size: 2em;
  padding: .3em;
  position: sticky;
  transition: transform .1s linear, background .2s linear;
}
.scrollcontrol--prev {
  left: 0;
  transform: scale(var(--control-scale)) translateX(8px);
}
.scrollcontrol--next {
  right: 0;
  transform: translateX(-8px) scale(var(--control-scale));
}
.scrollcontrol:hover,
.scrollcontrol:focus {
  background: #fff;
}
.scrollcontrol:disabled {
  --control-scale: 0;
  cursor: not-allowed;
}
.scrollcontrol:active {
  --control-scale: .9;
}
